{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row d-flex align-items-center">
  <div class="col-12 col-md-8">
    <h1>Привет!</h1>
    <p>
      Меня зовут Дима, и я автор этого сайта.
    </p>
    <p>
      Сейчас прохожу курсы на Я.практикуме по python-разработке и параллельно учусь в университете. 
      Программирование меня увлекло ещё в школе, однако, долго не мог найти направление, 
      которое действительно нравится. И спустя несколько лет поисков решил попробовать себя в python-разработке.
    </p>
    <p>
      Вещей, которые помогали бы в учёбе (игрушечная утка, любимая кружка) или мотивировали, у меня нет.
      Но зато у меня есть своего рода ритуал: всегда перед началом работы я надеваю наушники и включаю lofi плейлист.
      Это помогает мне абстрагироваться от внешнего мира и сосредоточиться на учёбе.
    </p>
  </div>
  <div class="d-flex justify-content-center col-12 col-md-4">
    <img class="rounded shadow border-0 w-75" src="{% static 'img/аватарка.jpg' %}">
  </div>
</div>
{% endblock %}